app/cache
app/logs
app/*.cache
app/config/parameters.yml
web/compiled/*
build
composer.phar
vendor
.idea
nbproject
.travis.yml

*~
LICENSE
web/bundles
web/css
web/js
web/uploads
web/media/cache/*
web/sftp-config.json
data/sqlite.db3
node_modules/
bower_components/
theme